/* <!-- ===== GOOGLE FONTS ===== --> */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Archivo Narrow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');

/* <!-- ===== ROOTS ===== --> */
:root{
/* ----- Colors ------ */
--color-brand: #e29301;
--color-brand-dark: #b87803;
--color-brand1: #069c5480;
--color-white: #fff;
--color-text-light: #A6A6A6;
/*  the colors below have a dark themed version: refer to: REF: A001 (line +- 55  ) */
--color-title: #393939;
--color-text: #707070;
--color-bg-1: #f8f8f8;
--color-bg-2: #f0efef;
--color-bg-dark: #1d1d1d;
--color-bg-dark-text: #d8d7d7;

/* ----- Font Weight ----- */
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;

/* ----- Z Index ----- */
    --z-tooltip: 10;
    --z-fixed: 100;

/* --- Typography ----- */
--font-family: 'Poppins', sans-serif;
--font-family-narrow:'Archivo Narrow', sans-serif;

/* --------  Font Size  -------*/
--fz-largest: 2.25rem;
--fz-h1: 1.5rem;
--fz-h2: 1.25rem;
--fz-h3: 1rem;
--fz-normal: 0.938rem;
--fz-small: 0.813rem;
--fz-smaller: 0.75rem;

@media screen and (min-width: 768px){
    --fz-largest: 4rem;
    --fz-h1: 2.25rem;
    --fz-h2:: 1.5rem;
    --fz-h3: 1.25rem;
    --fz-normal: 1rem;
    --fz-small: .875rem;
    --fz-smaller: .813rem;
}
}

/* REF: A001. ----- Dark Theme ----- */
body.dark-theme{
    --color-title: #F1F3F2;
--color-text: #C7D1CC;
--color-bg-1: #171d1a;
--color-bg-2: #101412;
--color-bg-dark: #d8d8d8;
--color-bg-dark-text: #1d1d1d;
}


/* ----- Base ----- */
*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}


/* ----- General ----- */

body{
    font-family: var(--font-family);
    font-size: var(--fz-normal);
    background-color: var(--color-body);
    color: var(--color-text);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}


/*=============== SCROLL BAR ===============*/
::webkit-scrollbar{
    width: .6rem;
    background-color: hsl(206, 4%, 80%);
}
::webkit-scrollbar-thumb{
    background-color: hsl(206, 4%, 64%);
}
::webkit-scrollbar-thumb:hover{
    background-color: hsl(206, 4%, 48%);
}



/* ------------ BUTTONS ----------- */
.button{
    display: inline-block;
    background-color: var(--color-brand);
    color: var(--color-white);
    padding: .75rem 1rem;
    border-radius: .5rem; 
    transition: .3s;
    font-weight: var(--fw-medium);
    border: 0;
    margin: 2rem 0 0;
    cursor: pointer;
}
.button:hover{
    background-color: var(--color-brand-dark);
}

/* SECTION BASE STYLING --------------------------------- */
.section{
    padding: 5.5rem 2rem;   
    position: relative;
}

.section__titles{
    margin-bottom: 1.8rem;
    align-self: flex-start;
}

.section__titles-title{
    font-size: var(--fz-h1);
    letter-spacing: 1px;
    font-family: var(--font-family-narrow);
    line-height: 100%;
}

.section__titles-subtitle{
    font-size: var(--fz-h3);
    color: var(--color-brand);
    letter-spacing: 1px;

}


@media screen and (min-width: 413px){
    .section{
        padding: 5.7rem 4rem;
    }
}

@media screen and (min-width: 576px){
    .section{          
        padding: 6rem 6rem;
    }
    
};

@media screen and (min-width: 768px){
    .section{          
        padding: 8rem 8rem;
    }
    
};

@media screen and (min-width: 992px){
    .section{          
        padding: 10rem 10rem;
    }
    
};

@media screen and (min-width: 1200px){
    .section{          
        padding: 10rem 12rem;
    }
    
};

@media screen and (min-width: 1400px) {
    .section{          
        max-width: 1200px;
    }
    
};



/*=============== SCROLL UP ===============*/
.scrollup__container{
    position: fixed;
    right: 5rem;
    /* bottom: 5rem; */
    bottom: 5rem;
    width: 100px;
    height: 100px;

}
.scrollup{
    position: fixed;
    right: 1rem;
    /* bottom: 5rem;  */
    bottom: -30%; 
    background-color: var(--color-brand);
    box-shadow: 0 4px 12px hsla(206, 4%, 20%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .15rem;
    font-size: 1.25rem;
    color: var(--color-white);
    z-index: var(--z-tooltip);
    opacity: .6;
    transition: .4s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
    opacity: 1;
}

/* Show Scroll Up */
.show-scroll{
    bottom: 5rem;
}


/* Change Header's background color as you scroll */
.scroll-header{
    background: var(--color-bg-dark); 
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    transition: all 0.3s ease;
 }
 
 .scroll-header .nav__logo,
 .scroll-header .nav__toggle{
     color: var(--color-bg-dark-text);
 }
 
 /* .scroll-header .nav__logo-img{
     mix-blend-mode: difference;
 } */
 
 
 /* Active link */
 .active-link{
     color: var(--color-brand);
 }
 


/* EDITING STARTS BELOW =========================================== */

/* HEADER ============================= */

.header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    transition: all 0.3s ease;
}

.nav__container{
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    font-size: var(--fz-h2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 11;
    cursor: pointer;
    color: var(--color-bg-dark-text);
    /* color: var(--color-bg-2); */
}


.nav__logo-dot{
    color: var(--color-brand);
    font-size: var(--fz-largest);
    margin-left: .1rem;
    margin-bottom: .8rem;
}

.nav__toggle{
    font-size: 1.15rem;
    cursor: pointer;
    color: var(--color-bg-dark-text);
    display: flex;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    /* background-color: var(--color-bg-2); */
    background-color: var(--color-bg-dark);
    color: var(--color-bg-dark-text);
    /* color: var(--color-bg-2); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: var(--z-fixed);
    max-width: 1200px;

}

.show-menu{
    right: 0;
}

.nav__list{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
line-height: 400%;
}

.nav__link{
    transition: 0.3s;
    font-size: var(--fz-normal);
    /* color: var(--color-bg-dark-text); */
    color: var(--color-bg-2);
}

.nav__link:hover{
    color: var(--color-brand);
}


.nav__close{
    font-size: 1.3rem;
    position: absolute;
    top: -.25rem;
    right: 2.2rem;
    cursor: pointer;
}

.nav__close:hover{
    color: var(--color-brand);
}

.nav__theme{
    font-size: var(--fz-h3);
    position: absolute;
    top: 2rem;
    right: 2.35rem;
    cursor: pointer;
}


@media screen and (min-width: 767px) {

    .nav__list{
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 5rem;
    }

    .nav__menu{
        left: 0;
        height: 3rem;
        background-color: transparent;
    }

    .nav__close .bx-x{
        display: none;
    }

    .nav__toggle{
        display: none;
    }

    .nav__theme{    
        top: -.25rem;
        right: 2.2rem;
        cursor: pointer;
    }

    .nav__link{
        margin-left: 2rem;
    font-size: var(--fz-smaller);

    } 
}

@media screen and (min-width: 768px){
    .nav__list{
        margin-right: 6rem;
    }

    .nav__link{
        margin-left: 3rem;
    } 
}

@media screen and (min-width: 992px){
    .nav__list{
        margin-right: 8rem;
    }

    .nav__link{
        margin-left: 3.5rem;
    } 
}

@media screen and (min-width: 1200px){
    .nav__list{
        margin-right: 10rem;
    }

    .nav__link{
        margin-left: 4rem;
    } 
}


/* Change Header's background color as you scroll ============ */
.scroll-header{
    background: var(--color-bg-dark); 
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    transition: all 0.3s ease;
 }
 
 .scroll-header .nav__logo,
 .scroll-header .nav__toggle{
     /* color: var(--color-bg-dark-text); */
     color: var(--color-bg-2);
 }
 
 /* .scroll-header .nav__logo-img{
     mix-blend-mode: difference;
 } */
 
 
 /* Active link on nav__menu ---------------------------------------*/
 .active-link{
     color: var(--color-brand);
 }
 


/* HERO =============================================== */
.hero{
    height: 50vh;
    width: 100%;
    background: rgba(240, 128, 128, 0.212);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    max-width: 1200px;
    position: relative;
    /* background: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(139, 139, 139, 0.507), rgba(36, 36, 36, 0.706));
    z-index: -1;
}


.hero__container{
    width: 100%;
    height: 70%;
}

.hero__data{
    margin-top: 1rem;
}


.hero__data-desc{
    max-width: 90%;
    font-size: var(--fz-normal);
    line-height: 110%;
    letter-spacing: .7px;
}

@media screen and (min-width: 413px){
   

    .hero__data{
        margin-top: 1rem;
    }
}


@media screen and (min-width: 576px){
   

    .hero__data-title{
        margin-bottom: 1.1rem;
    }

    .hero__data-desc{
        max-width: 70%;
    }
}

@media screen and (min-width: 768px){
    
    
    .hero__data{
        margin-top: 2.5rem;
    }

    .hero__data-desc{
        max-width: 60%;
    }
}

@media screen and (min-width: 992px){
    

    .hero__data{
        margin-top: 4rem;
    }

    .hero__data-desc{
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px){
    

    .hero__data{
        margin-top: 4rem;
    }

    .hero__data-desc{
        max-width: 42%;
    }
}

/* BOOKING ============================= */
.booking{
    background: var(--color-bg-2);
    max-width: 1200px;
}

.booking__container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.booking__box{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
}

.booking__box-label{
    margin-bottom: .3rem;
    color: var(--color-text);
}

.booking__box-select{
 height: 3rem;
 margin-bottom: 2rem;
 color: var(--color-text);
background: var(--color-bg-1);
border: 0;
font-size: var(--fz-normal);
padding-left: .5rem;
}

.booking__button{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: var(--color-white);
    background: var(--color-brand);
    cursor: pointer;
    transition: 0.3s;
}

.booking__button:hover{
    background: var(--color-brand-dark);
}

.booking__button-text{
    font-weight: var(--fw-bold);
}

.booking__button-arrow{
    font-size: 1.3rem;
    margin-left: .1rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.booking__button:hover .booking__button-arrow{
    transform: translateX(4px);
}


@media screen and (min-width: 768px){
    .box-1{ grid-area: box1; }
    .box-2{ grid-area: box2; }
    .box-3{ grid-area: box3; }
    .box-4{ grid-area: box4; }
    .booking__button{ grid-area: boxButton; }

    .booking__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        grid-template-areas: 
        "box1 box2"
        "box3 box4"
        "boxButton boxButton"
        ;
    }
    
}

@media screen and (min-width: 992px){
    .booking__container{
        grid-template-columns: repeat(4, 1fr);
        /* column-gap: 5px; */
        grid-template-areas: 
        "box1 box2 box3 box4"
        " boxButton boxButton boxButton boxButton"
        ;
    }

    .booking__button{
        margin: 0 0;
    }

    .booking__button{
        height: 250%;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){
    .booking{
        margin: 0 auto;
        
    }
}


/* TRIP ============================= */
.trip{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* TRIP INFO */

.trip__info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.trip__data{}
.trip__data-desc{
    
}
.trip__data-button{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* TRIP CARDS */
.trip__cards-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}


.trip-card1{
    grid-area: card1;
}

.trip-card2{
    grid-area: card2;
}

.trip-card3{
    grid-area: card3;
}

.trip-card4{
    grid-area: card4;
}


.trip__cards-card{
    height: 280px;
    width: 220px;
    margin: 2rem 0 1rem;
    position: relative;
    cursor: pointer;
    background: var(--color-bg-2);
    overflow: hidden;
}
.trip__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(32, 178, 171, 0.322);
    transition: 0.4s ease-in-out;
}

.trip__cards-card:hover .trip__card-img{
    transform: translateY(-55px);
}

.trip__card-data{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "subtitle price"
    "title title"
    "stars status"
    ;
    line-height: 110%;
}
.trip__card-data-subtitle{ 
    grid-area: subtitle; 
    font-size: var(--fz-smaller);
    font-family: var(--font-family-narrow);
    letter-spacing: 1.5px;
}

.trip__card-data-price{ 
    grid-area: price; 
    justify-self: flex-end;
    font-weight: var(--fw-bolder);
    font-size: var(--fz-h2);
    letter-spacing: 1px;
    font-family: var(--font-family-narrow);
}

.trip__card-data-title{ 
    grid-area: title; 
    font-size: var(--fz-h3);
    font-weight: var(--fw-bolder);
    font-family: var(--font-family-narrow);
    letter-spacing: 1px;
}

.trip__card-data-stars{ 
    grid-area: stars; 
    font-size: var(--fz-small);
    color: var(--color-brand);
}

.trip__card-data-status{ 
    grid-area: status; 
    justify-self: flex-end;
    font-size: var(--fz-smaller);
    font-family: var(--font-family-narrow);
}


@media screen and (min-width: 576px){
    .trip__cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "card1 card2"
        "card3 card4"
        ;
        margin-top: 2.5rem;
    }

    .trip__data-button{
        justify-content: flex-start;
    }

    .trip__cards-container{
       
        margin-top: 2.5rem;
    }
}


@media screen and (min-width: 768px){

    .trip__data-desc{
        width: 80%;
    }

    .trip__cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "card1 card2"
        "card3 card4"
        ;
        margin-top: 2.5rem;
    }
  
}

@media screen and (min-width: 992px){

    .trip__data-desc{
        width: 70%;
    }

    .trip__cards-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "card1 card2 card3"
        "card4 . ."
       
        ;
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 1200px){
    .trip__data-desc{
        width: 50%;
    }

    .trip__cards-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "card1 card2 card3 card4";
        margin-top: 2.5rem;
        column-gap: 3rem;
    }
}

/* ROOM & SUITES =========================================== */
.room{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.room__container{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
}

.room__card-big{ grid-area: roomBig; justify-self: center;}
.room-card1{ grid-area: room1; justify-self: center;}
.room-card2{ grid-area: room2; justify-self: center;}
.room-card3{ grid-area: room3; justify-self: center;}
.room-card4{ grid-area: room4; justify-self: center;}

/* Room card big ------- */

.room__card-big{
    width: 280px;
    height: 438px;
    background: lightsalmon;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.room__card-big-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room__card-big-data-container{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 15%;
    background: rgba(236, 236, 236, 0.171);
    color: var(--color-white);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    line-height: 135%;
    transition: 0.4s ease;
    overflow: hidden;
}

.room__card-big:hover .room__card-big-data-container{
    bottom: 0;
} 

.room__card-big-subtitle{}

.room__card-big-title{
    font-family: var(--font-family-narrow);
}

/* Room card small ------- */

.room__card-small{
    width: 280px;
    height: 200px;
    background: lightpink;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.room__card-small-data-container{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(236, 236, 236, 0.171);
    color: var(--color-white);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    line-height: 125%;
    transition: 0.4s ease;
    overflow: hidden;
}

.room__card-small:hover .room__card-small-data-container{
    bottom: 0;
}

.room__card-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room__card-subtitle{}
.room__card-title{}


@media screen and (min-width: 729px){
    .room__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "roomBig room1"
        "roomBig room2"
        "room3 room4"
        ;
    }
}


@media screen and (min-width: 1200px){

    .room__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "roomBig room1 room2"
        "roomBig room3 room4"
        ;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    
}

/* REVIEWS =========================================== */
.reviews{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.review__card{
    width: 280px;
    background: var(--color-bg-2);
    margin: 1rem 0;
    padding: 4.25rem 1rem 1rem;
    position: relative;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.review__card:nth-child(2){
    margin-top: 4rem;
}

.review__card:nth-child(3){
    margin-top: 4rem;
}

.review__card:hover {
    scale: 1.1;
}

.review__card-img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightsalmon;
    top: -25%;
    transition: 0.4s ease-in-out;
    object-fit: cover;
}

.review__card:hover .review__card-img{
    scale: 0.8;
}


.review__card-desc{
    margin-bottom: 1rem;
    font-style: italic;
}
.review__card-name{
    font-size: var(--fz-normal);
    font-weight: var(--fw-bold);
}
.review__card-location{
    font-size: var(--fz-small);

}


@media screen and (min-width: 768px){
    .reviews__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
    }

    .review__card:nth-child(2){
        margin-top: 1rem;
    }
    
    .review__card:nth-child(3){
        margin-top: 0;
    }
}

@media screen and (min-width: 992px){
    .reviews__container{      
        grid-template-columns: repeat(3, 1fr);  
    }

    .review__card:nth-child(3){
        margin-top: 1rem;
    }
}


/* FOOTER =========================================== */
.footer{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer title-------------- */
.footer__title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--fz-h2);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

/* Footer Subscribe-------------- */

.footer__subscribe{
    margin-bottom: 2rem;
    height: 2.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-bg-1);
}

.footer__input{
    color: var(--color-text);
    padding-left: 1rem;
    background: none;
    border: none;
}

.footer__input:focus{
    outline: none;
}

.footer__button{
    background: var(--color-brand);
    border: none;
    height: 100%;
    width: 45%;
    color: var(--color-white);
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer__button:hover {
    background-color: var(--color-brand-dark);
}

/* Footer Logo */
.footer__logo{
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer__logo span{
    color: var(--color-brand);
    font-size: var(--fz-largest);
    display: inline-block;
}

/* Footer Socials */
.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: var(--fz-h2);
}

.footer__socials i{
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.4s ease;
    cursor: pointer;
}

.footer__socials i:hover{
    color: var(--color-brand);
    scale: 1.2;
}

/* Footer Copyright */
.footer__copyright{
    text-align: center;
    font-size: var(--fz-smaller);
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    color: var(--color-text-light);
}

.footer__copyright p:nth-child(1){
    margin-right: 2px;
}


@media screen and (min-width: 549px){
    .footer__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "footTitle footSubscribe"
        "footLogo footSocial"
        "footCopy footCopy"
        ;
        column-gap: 2rem;
    }

    .footer__title{ grid-area: footTitle; }

    .footer__subscribe{ grid-area: footSubscribe; }

    .footer__logo{ 
        grid-area: footLogo;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__logo span{
        margin-bottom: .7rem;
    }

    .footer__socials{ 
        grid-area: footSocial; 
    }

    .footer__copyright{ 
        grid-area: footCopy; 
        align-self: center;
        justify-content: center;
    } 
}



@media screen and (min-width: 768px){
    .footer__container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "footTitle "
        "footSubscribe"
        "footLogo "
        "footSocial"
        "footCopy "
        ;
    }
}





/* a section  ------------------------------------  */
/* example =========================================== */
/* .example{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: var(--color-bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 413px){}

@media screen and (min-width: 549px){}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){}

@media screen and (min-width: 992px){}

@media screen and (min-width: 1200px){}

@media screen and (min-width: 1400px) {}

/* Alternative code, for larger screens */
/* @media screen and (min-width: 1700px){

    section{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

};  */



